@model OnlineShopJoana.WEB.Data.Entities.Product

@{
    ViewData["Title"] = "Details";
}


<div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
     style="background-image: url('../template/img/bg-img/18.jpg');">
    <h2 style="color:#ffffff">Product Details</h2>
</div>

<br />
<div class="row">
    <div class="col-md-4 offset-md-4">

        <div class="col-md-8 pull-right">
            @if (!string.IsNullOrEmpty(Model.ImageUrl))
            {
                <img src="@Url.Content(Model.ImageUrl)" alt="Image" style="width:300px;height:300px;max-height: 100%; width: auto;" />
            }
        </div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Price)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Price)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastPurchase)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastPurchase)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LastSale)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LastSale)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsAvailable)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Stock)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Stock)
            </dd>
        </dl>

        <div>
            <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-info  pull-right"><i class="fa fa-pencil"></i></a>
            <a asp-action="Index" class="btn btn-warning"><i class="fa fa-backward"></i> To List</a>
        </div>
    </div>
</div>
<br />

